@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway&display=swap');

body{ 
	background-color: hsl(218, 28%, 13%);
	color: hsl(0, 0%, 100%);
	font-family: "open sans", sans-serif;
	font-weight: 400px;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-size: 14px;
	line-height: 1.6em;
	}

main{
	position: relative;
	padding-bottom: 200px;
}

.button{
	border-radius: 50px;
	background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
	color:hsl(0, 0%, 100%);
	padding: 20px 90px;
}


.button-1{
	border-radius: 50px;
	background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
	color:hsl(0, 0%, 100%);
	padding: 10px 15px;
	border: 0;
}

.nav{
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 70px 0 70px 0;
}
.nav img{
	padding-left: 50px;
}
.nav a{
	color: hsl(0, 0%, 100%);
	text-decoration: none;
}

.items{
	display: flex;
	align-items: center;
}

ul li{
	list-style: none;
}

li a{
	padding-right: 55px;
}

a{
	color:hsl(0, 0%, 100%);
	text-decoration: none;
}

.hero{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	min-height: 100vh;
	text-align: center;
}

.hero img{
	width: 740px;
	height: 535px;
}

.hero h2{
	margin: 45px;
	font-family: "Raleway", sans-serif;
	font-size: 36px;
	line-height: 1.5em;
}

.hero p{
	margin: 40px;
	line-height: 1.5em;
	width: 715px;
	font-size: 22px;
	padding: 0 30px;
}


.features{
	margin: 120px 0;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 94px 150px;
}

.feature{
	text-align: center;
}

.feature p{
	margin: 0 120px;
}

.description{
	display: flex;
	align-items: center;
	padding: 0 100px;
}

.img{
	height: 460px;
	width: auto;
	margin-right: 45px;
}

.text :not(:last-child){
	margin-bottom: 25px;
}

.text h2{
	font-family: "Raleway", sans-serif;
	font-size: 36px;
	line-height: 1.2em;
}

.link{
	color: hsl(176, 68%, 64%);
	border-bottom: 1px solid hsl(176, 68%, 64%);
}

.link img{
	vertical-align: middle;
	margin-left: 3px;
}

.reviews{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 40px;
	padding: 140px;
}

.review:first-child::before{
	content: url("images/bg-quotes.png");
	position: absolute;
	top: -35px;
	left: -15px;
	z-index: -1;
}
.review{
	background-color: hsl(219, 30%, 18%);
	padding: 25px 30px 1px 20px;
	border-radius: 5px;
	position: relative;
}

.review p{
	margin-bottom: 25px;
}

.profile{
	display: flex;
}

.profile img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin-right: 5px;
}

.info{
	margin-top: -15px;
}

.info h3{
	font-size: 12px;
}

.info p{
	font-size: 10px;
	margin-top: -18px;
}



.sign {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: hsl(217, 28%, 15%);
	text-align: center;
	padding: 50px 75px 40px 75px;
	border-radius: 5px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -80px;
}

.sign p{
	width: 650px;
	margin-bottom: 25px;
}

.sign h2{
	margin-top: -5px;
}

input[type="submit"]{
	color: hsl(0, 0%, 100%);
	text-align: center;
}



input[type="email"]{
	outline: none;
	border: none;
	width: 200px;
	border-radius: 20px;
	padding: 10px 65px;
	margin-right: 20px;
}



footer{
	background: hsl(216, 53%, 9%);
	margin: -8px;
	padding: 200px 80px 80px 100px;
	display: grid;
	grid-template-columns: 4fr 3fr 1fr 1fr 2fr;
	grid-template-rows: auto;
	column-gap: 70px;
	grid-template-areas:"logo . . . ."
	"location contact links links-two social";

}

.footer-logo{
	grid-area: logo;
	margin-bottom: 20px;
}

.footer-location {
	grid-area: location;
	display: grid;
	grid-template-columns: 5% 95%;
	width: 350px;
}

.footer-location span{
	padding-left: 35px;
}

.footer-contact{
	grid-area: contact;
	margin-top: -12px;
}

.footer-contact img{
	margin-right: 24px;
	vertical-align: middle;
}

.footer-links{
	grid-area: links;
	display: grid;
	grid-template-columns: 1fr;
}

.footer-links a{
	margin-bottom: 24px;
}

.footer-link{
	grid-area: links-two;
	display: grid;
	grid-template-columns: 1fr;
}

.footer-link a{
	margin-bottom: 24px;
}

.social {
	grid-area: social;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.social i{
	font-size: 30px;
}

@media (max-width: 375px){
	html{
		font-size: 18px;
	}

	h2{
		font-size: 25px;
	}

	.nav img{
		padding-left: 25px;
		padding-right: 350px;
	}

	ul li{
		list-style: none;
	}

	li a{
		padding-right: 90px;
	}

	.hero{
		margin-left: 50px;
	}

	.hero img{
	width: 675px;
	height: 500px;
	padding-left: 550px;
	}

	.hero h2{
		padding-left: 720px;
		width: 365px;
		margin: 23px;
	}

	.hero p{
		align-items: center;
		text-align: center;
		margin-left: 550px;
	}


	.button{
		padding: 15px 70px;
		border-radius: 40px;
		margin-left: 515px;
	}

	.features{
		display: grid;
		grid-template-columns: 1fr;
		gap: 87px 0px;
		padding: 0 30px;
		margin-left: 200px;
	}

	.feature img{
		width: auto;
		height: 100px;
	}

	.feature h2{
		font-size: 36px;
	}

	.feature p{
		width: 300px;
	}

	.description{
		flex-direction: column;
		margin-left: 0px;
	}

	.img{
		height: 220px;
		padding-left: 520px;
		margin-bottom: 300px;
		margin-top: 30px;
	}

	.text h2{
		width: 900px;
		margin-left: 800px;
	}

	.text p{
		margin-left: 800px;
		width: 310px;
	}

	.link {
		margin-left: 800px;
	}

	.reviews{
		grid-template-columns: 1fr;
		margin-left: 150px;
	}

	.review{
		padding: 23px 30px 20px 20px;
	}

	.review p {
		width: 320px;
	}

	.sign{
		margin-left: 320px;
		padding: 40px 150px;
	}

	.sign p{
		width: 280px;
	}

	input[type="email"]{
		outline: none;
		border: none;
		width: 200px;
		border-radius: 30px;
		padding: 10px 45px;
		margin-right: 20px;
		margin-bottom: 20px;
	}


	.button-1{
		border-radius: 30px;
		background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(198, 60%, 50%));
		color:hsl(0, 0%, 100%);
		padding: 10px 70px 10px 90px;
		border: 0;
		margin-right: 20px;
	}

	footer{
		grid-template-columns: 1fr;
		column-gap: 0;
		padding-right:935px;
		row-gap: 28px;
		grid-template-areas:"logo"
		"location"
		"contact"
		"links"
		"links-two"
		"social";
	}

	.social{
		margin-left: 300px;
	}

	.social i{
		font-size: 40px;
	}

	.fa-facebook{
		justify-self: end;
		margin-right: 50px;
	}

	.fa-twitter{
		justify-self: center;
		margin-right: 50px;
	}

	.fa-instagram{
		justify-self: start;
		margin-right: 50px;
	}


}